.App {
  max-width: 400px;
  margin: 150px auto 0;
}

.onList {
  text-decoration: none;
  color: dimgray;
}

.checkedOff {
  text-decoration: line-through;
  font-size: 10px;
  color: dimgray;
}

.itemCheckPopUp {
  font-size: 8.5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.completed {
  text-decoration: line-through;
}